node_modules/
dist/
*.save
*.log

# Carpetas pesadas del sistema de Minecraft (MCLC las gestiona)
assets/
libraries/
versions/

# Archivos temporales y datos sensibles
launcher_accounts.json
launcher_msa_credentials.bin
usercache.json
usernamecache.json
saves/
logs/
crash-reports/
screenshots/
node_modules/
